/* color */
$black: #555454;
$lemon: #f6e355;
$mint: #a9d8cf;
$salmon: #ed747b;
$sand: #eaddc7;

/* font*/
$fontFamily: "Sawarabi Mincho", "Noto Serif JP", serif;
/* font size */
$fontSize: 16px;
/* font weight */
$fontBold: 600;
